body{
    height: 100%;
    width: 100%;
    /* background-color: #da291c; */
}

.title{
    background-color: #313131;
    color: white;   
}

.main{

    background-color: white;
}

#pkmn-image{
    max-height: 350px;
}

.upper-main{
    background-color: #f2f2f2;
}

.callout{
    border-radius: 2em;
}

#alert{
    color: #e3350d;
}